dist-newstyle
.aider*
.DS_Store
output.txt
*.o 
*.hi
.env

# output files
LeanResult.lean
AST.txt
hs_structured_AST.txt 
intermediateAST.txt 
astToHaskellTranslation.txt 

astToHaskellTranslation.hs 

LeanOutputs/*.lean




# ignore all non-.hs files in examples
examples/*
!examples/*.hs
!examples/**/

